<!DOCTYPE html>
<html lang="en">
    <!-- head-->
    <%- include("./partials/head.ejs", { tituloPagina: "Registrate"}) %>
<body>
     <!-- header-->
     <%- include("./partials/header.ejs") %>
     
     
     <% if (locals.errors) { %>                        
        <% for( let oneError in errors) { %>
        <% } %>
    <% } %>



    <main>
    <section class = "login">
         <h2>
            EDITAR CUENTA DE <%=  userLogged.fullName %>
        </h2>
    </section>
    <section class = formulariologin>
        <div class = formulario>
            <form action="/user/editUser/<%= userLogged.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id= "formulario"> 
                <!-- <form action="/" method="GET" class="formulario-registracion">-->
                    <div class = "control-formulario">
                        <div class = "errores alert-warning">
                            <ul class = errorsList1> aaa </ul>
                            </div>
                         <!-- <DARLE UN ESTILO PARTICULAR AL FORMULARIO EN CASO DE ERROR>-->
                        <input type="text" 
                        name="fullName" 
                        placeholder="Nombre y apellido" 
                        class="control <%= locals.errors && errors.fullName ? "is-invalid" : null %>" 
                        id = "fullName"
                        value = "<%= userLogged.fullName %>">
                        <span class="feedback"></span>
                        <% if (locals.errors && errors.fullName) { %>                        
                            <p class = errores><%= errors.fullName.msg %></p>
                        <% } %>
                    </div>
                    <div class = "control-formulario">
                        <input type="email" 
                        name="email" 
                        placeholder="Mail de usuario" 
                        class="control"
                        id = "email"
                        value = " <%= userLogged.email %> ">
                        <% if (locals.errors && errors.email) { %>                        
                            <p class = errores><%= errors.email.msg %></p>
                        <% } %>
                    </div>
                    
                    <div class = "control-formulario">
                        <label>Fecha de nacimiento:</label>
                        <input type="date" 
                        name="birthday" 
                        class="control"
                        id = "birthday"
                        value = "<%= userLogged.custom_birthday ? userLogged.custom_birthday : null  %>">
                    </div>
                    <div class = "control-formulario">
                        <input type="text" 
                        name="direction" 
                        placeholder="Domicilio" 
                        class="control" 
                        id = "direction"
                        value = "<%= userLogged.direction ? userLogged.direction : null  %>">
                        <% if (locals.errors && errors.direction) { %>                        
                            <p class = errores><%= errors.direction.msg %></p>
                        <% } %>
                    </div>
                    <div class = "control-formulario">
                        <img class="profilePicture" src="/images/avatars/<%= userLogged.avatar %>" alt="Tu imagen de perfil" id = "avatar">
                        <label> Cambiar imagen:</label></div>
                        <div class = "control-formulario"> 
                            <label class= boton-formulario  style = "color: white" for = "avatar">Elegi tu foto</label>
                            <input type="file" name ="avatar" id = "avatar" accept=".jpg,.jpeg,.gif,.png">
                            <% if (locals.errors && errors.avatar) { %>                        
                                <p class = errores><%= errors.avatar.msg %></p>
                            <% } %>
                         </div>
                    <div class = "control-formulario">
                        <label>Contraseña:</label>
                        <input type="password" 
                        name ="password" 
                        class ="control" 
                        id = "password">
                        <% if (locals.errors && errors.password) { %>                        
                            <p class = errores><%= errors.password.msg %></p>
                        <% } %>
                    </div> 
                   <!-- <div class = "control-formulario">
                        <label>Repetí tu contraseña:</label>
                        <input type="password" 
                        name ="password2" 
                        class ="control" 
                        required>
                        <% if (locals.errors && errors.password2) { %>                        
                            <p class = errores><%= errors.password2.msg %></p>
                        <% } %>
                    </div> -->
                    <button type="submit" class="boton-formulario">Editá tu cuenta</button>
                    <button type="reset" class="boton-formulario">Borrar</button>
                </form>
        </div>
         <div class = imagenformulariocuenta>
        </div>
    </section>
    </main>


       <!-- footer-->
     
       <%- include("./partials/footer.ejs") %>
       <script src="/js/newUserValidation.js"></script>
  </body>
</html>