<!DOCTYPE html>
<html lang="en">
    <!-- head-->
    <%- include("./partials/head.ejs", { tituloPagina: "Edita tu Producto"}) %>
<body>
     <!-- header-->
     <%- include("./partials/header.ejs") %>

    <main>
    <section class = "login">
        <h2 class = tituloproducto>
            EDITA EL PRODUCTO: <%= product.name %>
        </h2>
      </section>
    
    <section class = formularioEditar>
        <div class = imagenproducto>
            <img src = "/images/products/<%= product.image %>" class= "Imagen del <%= product.name %>">
        </div>
        <div class = formulario>
            <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <!-- <form action="/" method="GET" class="formulario-registracion">-->
                    <div class = "control-formulario">
                        <input type="text" name="name" placeholder="Nombre del Producto" value="<%= product.name %>" class="control" id = "name">
                        <span class="feedback"></span>
                    </div>
                    <div class = "control-formulario">
                        <input type="textarea" rows="20" name="description" placeholder="Descripción" value="<%= product.description %>" class="control" >
                    </div>
                    <div class = "control-formulario">
                        <label>Subir imagen:</label></div>
                        <div class = "control-formulario"> 
                            <label class= boton-formulario  style = "color: white" for = "image">Elegi tu foto</label>
                            <input type="file" name ="image" id = "image" accept=".jpg " multiple>
                         </div>
                    <div class = "control-formulario">
                        <input type="number" name="price" placeholder="Precio" class="control" value="<%= product.price %>">
                    </div>
                    <div class = "control-formulario">
                        <p>Categoría</p>
                        <div class = "control-tipoplanta">
                        <select name = "categoria_id">
                            <option value="<%= product.categoria_id %>"><%= product.category.name %></option>

                        </select>
                     </div>
                     </div>
                    <button type="submit" class="boton-formulario">Modificar</button>
                    <button type="reset" class="boton-formulario">Resetear</button>
                 </form>
                 <form action="/products/<%= product.id %>?_method=DELETE" method="POST" >
                    <button type="submit" class="boton-eliminar">ELIMINAR</button>
                    </form>
            </div>
         </section>
    </main>


       <!-- footer-->
       <%- include("./partials/footer.ejs") %>
  </body>
</html>