<!DOCTYPE html>
<html lang="en">
    <!-- head-->
    <%- include("./partials/head.ejs", { tituloPagina: "Log in"}) %>
<body>
    <!-- header-->
    <%- include("./partials/header.ejs") %>

    <main>
    <section class = "profile">
      <div class = "profileDates">
      <img class="profilePicture" src="/images/avatars/<%= user.avatar %>" alt="Tu imagen de perfil">
    </div>
    <div>
        <h2 class = "profileName">
            Bienvenido <br>
            <%= user.fullName %>
        </h2>
          <h2 class = "profileEmail"> 
           Tu email es: <br>
           <%= user.email %>
        </h2<% include  %> >
        <br>
        <h3>
        <a class="botonLogout" href = "/user/logout">LOGOUT</a>
        </h3>   
      </div>
       
    </section>
    </main>


    <!-- footer-->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>