<!DOCTYPE html>
<html lang="en">
    <!-- head-->
    <%- include("./partials/head.ejs", { tituloPagina: "Log in"}) %>
    <style>
      body {
        background-image: url("/images/avatars/<%= user.avatar %>");
        background-repeat: no-repeat;
        background-attachment: center;
        background-size:cover;
        background-position: center center;}
      </style>
<body>
    <!-- header-->
    <%- include("./partials/header.ejs") %>
  
    <main>
    <section class = "profile">
      <div class = "profileDates">
      <img class="profilePicture" src="/images/avatars/<%= user.avatar %>" alt="Tu imagen de perfil">
    </div>
    <div>
        <h2 class = "profileName">
            Bienvenido <br>
            <%= user.fullName %>
        </h2>
          <h2 class = "profileEmail"> 
           Tu email es: <br>
           <%= user.email %>
        </h2<% include  %> >
        <br>
        <div>
        <h3 class= "marginBotones">
        <a class="botonLogout" href = "/user/logout">LOGOUT</a>
        </h3>
      </div> 
        <div>
        <h3 class= "marginBotones">
          <a class="botonLogout" href = "/user/destroy">ELIMINAR USUARIO</a>
          </h3>    
        </div>

          <div>
          <% if (locals.isLogged) {%>
            <h3 class= "marginBotones">
            <a href="/user/edit/<%= user.id %>" class="botonLogout">EDITAR USUARIO</a>
          </h3> 
                <% } else {%>
             
                <% } %>
          </div> 
          
      </div>
       
    </section>
    </main>


    <!-- footer-->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>